.dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    background-color: #05386B ;
    height: 35px;
    box-sizing: border-box;
}
.child-tabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 28px;
}
a{
    text-decoration: none;
    color:white;
    height: 34.1px;
    width: 130px;
    display: grid;
    place-items:center ;
}
.active{
    background-color: white;
    color: #05386B ;
}