.container{
    width: 800px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}
#welcome{
    font-size: xx-large;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

