.table{
    text-align: center;
    font-size: 15px;
    margin-top:0.5%;
}
#action{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.even{
    background-color: rgb(241, 242, 243);
}
.odd{
    background-color:white
}
td,th{
    padding: 1%;
}
.rejected{
    color: rgb(176, 5, 5);
}
.pending{
    color: #05386B ;
}
.accepted{
    color:rgb(1, 137, 1);
}
a,button{
    background-color: transparent;
    border: none;
    margin-top: 3%;
}
#edit{
    color: #05386B ;
    padding: 20% 28%;
    border-radius: 15%;
}
#delete{
    color: rgb(176, 5, 5);
    padding: 22% 32%;
    border-radius: 15%;
}
#message{
    margin-top:5%;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: x-large;
    color:black;
}

