.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
}
.form{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    row-gap: 10%;
    border: 1px solid rgb(0,0,0,0.125);
    height: 200px;
    width: 450px;
    padding: 2%;
    border-radius: 10px;
}
button,button:disabled{
    width:420px;
    background: transparent;
    color: #05386B;
    border:1px solid #05386B
}
button:hover{
    color:white;
    background-color: #05386B;
}
