.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
}
.form{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    row-gap: 10%;
    border: 1px solid rgb(84, 87, 90);
    background-color:rgb(241, 245, 251);
    height: 200px;
    width: 450px;
    padding: 2%;
    border-radius: 10px;
}
button,button:disabled{
    width:250px;
    background: transparent;
    color: rgb(60, 62, 63);
}
