#welcome{
    text-align: center;
    font-weight: 450;
    font-size: 20px;
    margin-top: 3%;
    color: black;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    max-width: fit-content;
    padding: 0% 1%;
    aspect-ratio: 3/2;
    border: 1px solid rgba(0,0,0,0.125);
    font-weight: 300;
    color: rgb(73, 73, 73);
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 480px;
    row-gap: 10%;
}