#welcome{
    text-align: center;
    font-weight: 450;
    font-size: 20px;
    margin-top: 3%;
    color: black;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 0% 1%;
    aspect-ratio: 3/2.5;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.125);
    font-weight: 300;
    color: black;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 500px;
    row-gap: 10%;
}