<div class="headings">
    <p id="heading">LTS</p>
    <div class="login-register" *ngIf="!currentUser.name.length">
      <a routerLink="login">Login</a>
      <a routerLink="register">Register</a>
    </div>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'" *ngIf="currentUser.name.length">
      <p style="display: flex;align-items: center;column-gap: 5px;justify-content: flex-start;">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        {{currentUser.name | titlecase}}
        <span nz-icon nzType="down-circle" nzTheme="fill"></span>
      </p>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>Logout</li>
      </ul>
    </nz-dropdown-menu>
  </div>
<router-outlet></router-outlet>